DATABASE_URL=postgresql://postgres:Z97Hw45cKjJmN3Z6@db.gisimvwibyoxrskkkvav.supabase.co:5432/postgres?sslmode=require
SUPABASE_URL=https://gisimvwibyoxrskkkvav.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdpc2ltdndpYnlveHJza2trdmF2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTYwNTA4MSwiZXhwIjoyMTA1MTgxMDgxfQ.YfF1eYFdOtk0u7qBR9JS8Bl5hHLzERQFsFwbPwrMnc8
JWT_SECRET=ua+yB81FKSkt7sOBEEKFsmkd/ch7NYIIScNKK54vn5RDqVNRbKuufdhqZaNE4kBd1PB8yosUb3JEZ7rLZCxN9g==
